{% extends 'layout.html.j2' %} 

{% block content %}
<div>
  <h1>수강생 추가</h1>
</div>
<form name="addUser" action="/add" method="post">
  <div>
    <p>이름</p>
    <input type="text"/>
    <p>이메일</p>
    <input type="email"/>
  </div>
  <br/>
  <button type="submit">추가하기</button>
</form>
{% endblock %}
