{% extends 'layout.html.j2' %} 

{% block content %}
<div>
  <h1>수강생 추가</h1>
</div>
<form name="addUser" action="/addUser" method="POST">
  <div>
    <p>이름</p>
    <input type="text" name="username"/>
    <p>이메일</p>
    <input type="email" name="email"/>
  </div>
  <br/>
  <input type = "submit" value = "추가하기"/>
</form>
{% endblock %}
