{% extends 'layout.html.j2' %} 

{% block content %}
<div>
  <h1>수강생 목록</h1>
</div>
<table border=1>
  <thead>
    <tr>
      <th width=100>이름</th>
      <th>과제명</th>
      <th>점수</th>
      <th>등록</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <form name="addAssignment" action="/addAssignment/{{ user.id }}" method="POST">
        <tr>
          <td>
            <a href="/userDetail/{{ user.id }}"> 
              {{ user.username }}
            </a>
          </td>
          <td>
            <input type="text" style="width: 500px" name="title" />
          </td>
          <td>
            <input type="text" style="width: 80px" name="score"/>
          </td>
          <td>
            <input type="submit" style="width: 80px" value="등록" />
          </td>
        </tr>
      </form>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
