{% extends 'layout.html.j2' %} 

{% block content %}
<div>
  <h1>수강생 목록</h1>
</div>
<table border=1>
  <thead>
    <tr>
      <th width=100>이름</th>
      <th>과제명</th>
      <th>점수</th>
      <th>등록</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>
          <input type="text" style="width: 500px" />
        </td>
        <td>
          <input type="text" style="width: 80px"/>
        </td>
        <td>
          <button style="width: 80px">등록</button>
        </td>
      </tr>
    {% endfor %}      
  </tbody>
</table>
{% endblock %}
